/* For HOME page */

:root
{
	--home-content-item-width: 200px;
	--home-content-item-height: 200px;
	--home-content-item-width-hover: 250px;
	--home-content-item-height-hover: 250px;
	
	--home-content-item-detail-width-hover: 450px;
	--home-content-item-detail-height-hover: 250px;
}

a
{
	text-decoration: none;
	outline: none;
	color: black;
}

.home_content
{
	overflow: hidden;
}

.home_content_item
{
	width: var(--home-content-item-width);
	height: var(--home-content-item-height);
	
	text-align: center;
	
	/* margin: 30px; */
	position: relative;
	/* display: inline-block; */
	border-radius: 20px;
	transition: 0.3s linear;
}

.home_content_item:hover
{
	/* width: var(--home-content-item-width-hover); */
	/* height: var(--home-content-item-height-hover); */
	margin: 10px; 
	transition: 0.5s;
	cursor: pointer;
}

.home_content_item_header
{
	width: 150%;
	margin-left: -25%;
	font-size: 25pt;
	
	position: absolute;
	bottom: -40px;
}

.home_content_item_detail
{
	width: var(--home-content-item-width);
	height: var(--home-content-item-height);
	background-color: #FFE8E3;
	
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	
	border: 5px solid black;
	border-radius: 20px;
	
	padding: 40px;
	
	opacity: 0;
	overflow: hidden;
	transition: 0.5s;
}

.home_content_item:hover .home_content_item_detail
{
	opacity: 1;
	
	left: -50%;
	top: 0;
	
	width: var(--home-content-item-detail-width-hover);
	height: var(--home-content-item-detail-height-hover);
}

.home_content_item_detail_header
{
	font-size: 30pt;
}

.home_content_item_detail_line
{
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	height: 10px;
	
	transition: 0.5s;
	background-color: black;
}

.home_content_item:hover .home_content_item_detail_line
{
	margin-left: 0px;
	margin-right: 0px;
	height: 10px;
}

.home_content_item_detail_description
{
	margin-top: 20px;
	
	font-size: 20pt;
}