* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: lightblue;
}

.canvas
{
	position: absolute;
	left: 5.1vw;
	top: 0;
	width: 95vw; 
	height: 100vh; 
	background-color: transparent; 
	display:block;
	z-index: -1;
}

.start_anim_button
{
	width: 20vw;
	height: 10vh;
	margin-left: -15vw;
	text-align: center;
	font-size: 20pt;
	background-color: lightblue;
	transition: 1s;
}

.start_anim_button:hover
{
	width: 25vw;
	margin-left: 0;
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	background-color: lightgreen;
	cursor: pointer;
	/* line-height: 30vh; */
}

.start_anim_button:hover table tr td .text
{
	color: black;
}

.start_anim_button table tr td img
{
	height: 8vh;
	margin-right: 0.5vw;
}

.start_anim_button table tr td .text
{
	text-align: center;
	font-size: 25pt;
	color: lightgreen;
	font-family: arial;
	font-weight: 700;
	transition: 1.3s;
}

#home 
{
	padding: 20px;
}

#home h1
{
	font-size: 50pt;
	transition: 500ms;
}

#home h2
{
	padding-top: 20px;
	font-size: 30pt;
	transition: 500ms;
}
