@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root
{
	--left-bar-bg-color: lightblue;
	--left-bar-width: 100px;
	--left-bar-height: 90vh;

	--start-anim-button-width: 400px;
	--start-anim-button-image-width: 80px;
	
	--header-height: 10vh;
	--header-bg-color: #FBEEC1;
	
	--content-height: 90vh;
	--content-width: 93vw;
}

* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.header
{
	background-color: var(--left-bar-bg-color);
	height: var(--header-height);
	width: 100%;
}

.title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 40pt;
	font-weight: bold;
	line-height: 10vh; /* Using this to align text vertically */
	margin-left: 20px;
}

.left_bar
{
	width: var(--left-bar-width);
	height: var(--left-bar-height);
	position: fixed;
	top: 10vh;
	left: 0;
	background-color: var(--left-bar-bg-color);
	z-index: 1000;
}

.start_anim_button
{
	width: var(--start-anim-button-width);
	height: 9vh;
	margin-bottom: 20px;
	margin-left: -300px;
	text-align: center;
	font-size: 20pt;
	background-color: var(--left-bar-bg-color);
	border-radius: 20px;
	transition: 1.5s;
}

.start_anim_button:hover
{
	margin-left: -20px; /* value of border radius to hide round edges */
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	background-color: lightgreen;
	cursor: pointer;
	height: 11vh;
	
	transition: 0.5s; /* slow down moving left */
}

.start_anim_button table, tr
{
	width: 100%;
	height: 100%;
}

.start_anim_button_image
{
	width: var(--start-anim-button-image-width);
	padding: 5px;
}

.start_anim_button table tr td img
{
	width: 70px;
	margin-right: 0.5vw;
}

.start_anim_button table tr td .text
{
	text-align: center;
	font-size: 25pt;
	color: black;
	font-family: arial;
	font-weight: 700;
	transition: 1.3s;
}

.start_anim_button:hover table tr td .text
{
	color: black;
}

.content
{
	height: var(--content-height);
	width: var(--content-width);
	
	position: fixed;
	left: var(--left-bar-width);
	top: var(--header-height);
}

.canvas
{
	position: absolute;
	top: 0;
	width: 100%; 
	height: 100%; 
	display:block;
	z-index: -1;
}