.pouzitie_title {
	font-size: 30pt;
	text-align: center;
	margin: 10px;
}

.pouzitie_text {
	font-size: 17pt;
	text-align: left;
	margin: 20px;
}

.pouzitie_image {
	width: 200px;
	height: 200px;
	
	position: absolute;
	
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
	
	transition: 0.5s;
}

.pouzitie_image:hover {
	position: absolute;
	width: 60%;
	height: 80%;
	
	z-index: 100;
}