.vyhody_title {
	width: 100%;
	height: 10%;
	padding: 20px;
	font-size: 30pt;
	text-align: center;
	overflow: hidden; 
	position: relative;
}

.vyhody_content{
	width: 100%;
	height: 75%;
	overflow: hidden; 
	position: relative;
}

.vyhody_content table td {
	vertical-align: top;
}

.vyhody_section{
	position: absolute;
	top: 5%;
	left: 5%;
	
	width: 90%; 
	height: 90%; 
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
}

.vyhody_bottom_menu{
	width: 100%;
	height: 15%;
	display: table;
	border-radius: 20px;
	border-spacing: 10px;
}

.vyhody_bottom_menu_item{
	width: 15%;
	background-color: white;
	border-radius: 20px;
	
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
	transition: 1s;
	font-size: 17pt;
}

.vyhody_bottom_menu_item:hover{
	background-color: yellow;
	cursor: pointer;
}

.vyhody_bottom_menu_item_selected{
	background-color: mistyrose;
}

.vyhody_left_item{
	border: 1px solid red; 
	padding: 20px; 
	border-radius: 20px; 
	background-color: #FFF1ED;
	font-weight: bold;
	line-height: 30pt;
}

.vyhody_right_item{
	border: 1px solid red; 
	padding: 20px; 
	border-radius: 20px; 
	background-color: #EDFFFD;
	font-weight: bold;
	line-height: 30pt;
}